h1{
	text-align: center;
	font-family: normal;
	color: beige;
}
body{
	background: alignblue;
	font-family: 휴먼편지체, 바탕, Serif;
}
body span{
	font-family: normal;
	color: darkblue;
	font-weight: bold;
}
body div{
	text-indent: 1em;
}
footer{
	text-indent: 1em;
	border-radius: 10px;
	background: orange;
	margin: 10px
}
form{
	background-color: beige;
	margin: 20px;
	padding-left: 15px;
}
form > input{
	color: red;
	font-weight: normal;
}